/*Header Start*/
header { background-color: #fff; width: 100%; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15); padding: 10px 0px;border-bottom: 2px solid #95989a; }
header .blue_btn { background-color: #3a9ff3; color: #fff; font-size: 17px; min-width: 100px; border-color: #3a9ff3; padding: 4px 14px 8px; float: right; }
header button i { padding-left: 10px; }
/*Header Start*/

/*SideNav*/
.sidenav { width: 270px; background-color: #000; animation: 0.4s ease 0s normal none 1 running animateleft; position: relative; display: block; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); background-color: #fff; height: 100%; overflow: auto; z-index: 1; }



/*SideNave*/

/*Main Conatiner*/
.main-container{ background-color:#fff;transition: margin-left 0.4s ease 0s;}
.left-nav ul li{float: left;padding:12px;}
.left-nav,.right-nav {float: left;padding: 0 20px;width: 100%;}
.left-nav li a {color: hsl(0, 0%, 0%);}
.right-nav li{float: left;padding:5px 10px;}
.right-nav li i.fa{font-size: 30px;color: #bababa;}
.right-nav li span {color: #3f3f3f;font-size: 20px;font-weight: 500;}
.card-content{width: 100%;padding:0px 20.5px;}
ul.card-content-outer li{float: left;margin-bottom: 20px;}
.card-content h2{font-size: 16px;color: #434343; padding-bottom: 10px;padding-top: 11px;position: relative;}
.card-image .log-img{width: 100%;border: 1px solid #96999b;}
.home-container {padding: 25px 0;}
.card-image {padding: 20.1px 20.5px 0px;position: relative;}
.card-content p.p_first {padding: 13px 0;color: #96999B;font-size: 13px;line-height: 22px;}
.p_first a{padding: 0px 5px;}
.p_second{font-size: 14px;color: #96999B;}
.recommend-dv {padding:20px 20.5px 13px;font-size: 13px;}
.recommend-dv button{width:100%;background: #1a936f;border: none;color: #fff;cursor: pointer;height: 45px;position: relative;font-size: 16px;border-radius: 0px;}
.card-content-outer .card{box-shadow: 0 4px 7px 1px hsl(0, 0%, 81%);}
.recommend-dv button i.fa {font-size: 23px;position: absolute;right: 12px;top: 12px;}
.published-dv{text-align: center;padding-top: 15px;color: #96999b;}
.price-strip{background: #1a936f;color: #fff;left: 13px;padding: 5px 10px;position: absolute;top: 32px;}
.heart-img {position: absolute;right: 49px;top: 27px;}
.front-btn {background: transparent;border: medium none;color: #007bff;cursor: pointer;}
.card-content .p_first.p_back_sec{padding-bottom: 0px;padding-top: 0px;}
.card-con-back .front-btn{padding-top: 10px;}
.card-content-outer{width: 100%;}
.react-card-back{position: relative !important;}
.heart-img a{background-image: url('../images/heart.png');position: absolute;width: 22px;height: 20px;background-repeat: no-repeat;}
.heart-img a:hover{background-image: url('../images/green-heart.png'); position: absolute;width: 22px;height: 20px;background-repeat: no-repeat;}
.heart-img a:active{transform: scale(0.9);}
.heart-img a.active-like{background-image: url('../images/heart-green.png');    animation-name: mymove; animation-duration: 2s; position: absolute;width: 22px;height: 20px;background-repeat: no-repeat;}
.social-dv a img:hover,.testDiv a img.log-img:hover {animation-name: mymove; animation-duration: 2s;}
.social-txt{display: block;font-size: 10px;color: #000;}
.social-dv a,.testDiv a {text-align: center;text-decoration: none;width: 25%;float: left;}
.react-card-flip{min-height: 430px;}
.transitin-dv {height: 45px;position: absolute;top: 0;width: 100%; }
.recommend-dv.recommend-frst{min-height: 130px;overflow: hidden;}
.recommend-dv.recommend-frst > span {display: inline-block;position: relative;width: 100%;padding-top: 6px;}
.strip-img {height: 43px;position: absolute;right: -20px;top: -3px;}
.content-flow {height: 80%;overflow: auto;padding: 0 10px;}
.content-flow {height: 300px;overflow: auto;padding: 0 10px;margin-top: 15px;}

/* Standard syntax */
@keyframes mymove {
   0% { transform: scale(0.9); }
   50% { transform: scale(1.2); }
   100% { transform: scale(1); }
}
.recommend-dv .clip-link {padding: 10px 0;width: 100%;}
.offer-dv{text-align: right;color: #96999B;width: 100%;padding: 25px 60px;position: relative;}
.offer-dv .heart-img {top: 30px;}
.react-card-back .recommend-dv {padding-top: 5px;}

@media (min-width:992px) and (max-width:1199px)
{
  .social-txt{font-size: 9px;}
  .react-card-back .recommend-dv{padding-top: 20px;}
}

@media (min-width:320px) and (max-width:992px)
{
  .react-card-back .recommend-dv {bottom: 10px;position: absolute;width: 100%;}
}

@media (max-width:768px;)
{
  .card-content h2{font-size: 15px;}
}





